In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from scraping import *

In [2]:
# get MLB teams
mlb_teams = get_mlb_teams()
mlb_teams

                     team  team_id
0      Los Angeles Angels      108
1    Arizona Diamondbacks      109
2       Baltimore Orioles      110
3          Boston Red Sox      111
4            Chicago Cubs      112
5         Cincinnati Reds      113
6     Cleveland Guardians      114
7        Colorado Rockies      115
8          Detroit Tigers      116
9          Houston Astros      117
10     Kansas City Royals      118
11    Los Angeles Dodgers      119
12   Washington Nationals      120
13          New York Mets      121
14      Oakland Athletics      133
15     Pittsburgh Pirates      134
16       San Diego Padres      135
17       Seattle Mariners      136
18   San Francisco Giants      137
19    St. Louis Cardinals      138
20         Tampa Bay Rays      139
21          Texas Rangers      140
22      Toronto Blue Jays      141
23        Minnesota Twins      142
24  Philadelphia Phillies      143
25         Atlanta Braves      144
26      Chicago White Sox      145
27          Miami Marlins      146
28       New York Yankees      147
29      Milwaukee Brewers      158

In [3]:
players = get_players_by_league(mlb_teams)
position_players = players[(players['position'] != 'P') & (players['status'] == 'A')]
pitchers = players[(players['position'] == 'P') & (players['status'] == 'A')]

In [ ]:
# to generate data frame
position_players_list = []
years = [2022]
for year in years:
    position_players_list.append(create_position_player_stats(position_players.id, year, minors = True)[0])
position_minors_stats = pd.concat(position_players_list)

In [6]:
position_minors_stats = pd.read_csv('2022_position_players.csv')
position_minors_stats

,Unnamed: 0,name,gameDate,gameID,team,opponent,hits,atBats,homeRuns,runs,rbi,stolenBases,strikeOuts,walks,avg,obp,slg,ops
0,0,David Fletcher,2015-06-18,427733,Orem Owlz,Ogden Raptors,1,3,0,0,1,0,0,1,0.333,0.500,0.333,0.833
1,1,David Fletcher,2015-06-19,427734,Orem Owlz,Ogden Raptors,1,5,0,0,1,0,0,0,0.250,0.333,0.250,0.583
2,2,David Fletcher,2015-06-20,427771,Orem Owlz,Ogden Raptors,1,4,0,0,1,0,0,1,0.250,0.357,0.250,0.607
3,3,David Fletcher,2015-06-21,427772,Orem Owlz,Ogden Raptors,1,4,0,2,0,1,1,1,0.250,0.368,0.250,0.618
4,4,David Fletcher,2015-06-22,427543,Orem Owlz,Grand Junction Rockies,4,5,0,1,1,2,0,0,0.381,0.458,0.429,0.887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144271,13986,Luis Urias,2022-04-29,674928,Biloxi Shuckers,Pensacola Blue Wahoos,0,4,0,0,0,0,3,0,0.158,0.273,0.211,0.484
144272,13987,Luis Urias,2022-04-30,674927,Biloxi Shuckers,Pensacola Blue Wahoos,1,5,0,1,1,0,0,0,0.167,0.259,0.208,0.467
144273,13988,Luis Urias,2022-05-01,674888,Biloxi Shuckers,Pensacola Blue Wahoos,0,3,0,0,0,0,0,0,0.148,0.258,0.185,0.443
144274,13989,Kolten Wong,2022-06-25,671462,Wisconsin Timber Rattlers,Quad Cities River Bandits,0,4,0,1,0,0,0,0,0.000,0.000,0.000,0.000
144275,13990,Kolten Wong,2022-06-26,671464,Wisconsin Timber Rattlers,Quad Cities River Bandits,1,2,1,1,1,0,1,1,0.167,0.286,0.667,0.953

In [7]:
position_minors_stats["gameDate"] = pd.to_datetime(position_minors_stats["gameDate"])
position_minors_stats['season'] = pd.DatetimeIndex(position_minors_stats['gameDate']).year
position_minors_stats["days_between_game"] = position_minors_stats.groupby(["name", "season"])["gameDate"].transform(lambda X: X.diff())
position_minors_stats["days_between_game"] = position_minors_stats["days_between_game"].apply(lambda x: x.days)
position_minors_stats

,Unnamed: 0,name,gameDate,gameID,team,opponent,hits,atBats,homeRuns,runs,rbi,stolenBases,strikeOuts,walks,avg,obp,slg,ops,season,days_between_game
0,0,David Fletcher,2015-06-18,427733,Orem Owlz,Ogden Raptors,1,3,0,0,1,0,0,1,0.333,0.500,0.333,0.833,2015,NaN
1,1,David Fletcher,2015-06-19,427734,Orem Owlz,Ogden Raptors,1,5,0,0,1,0,0,0,0.250,0.333,0.250,0.583,2015,1.0
2,2,David Fletcher,2015-06-20,427771,Orem Owlz,Ogden Raptors,1,4,0,0,1,0,0,1,0.250,0.357,0.250,0.607,2015,1.0
3,3,David Fletcher,2015-06-21,427772,Orem Owlz,Ogden Raptors,1,4,0,2,0,1,1,1,0.250,0.368,0.250,0.618,2015,1.0
4,4,David Fletcher,2015-06-22,427543,Orem Owlz,Grand Junction Rockies,4,5,0,1,1,2,0,0,0.381,0.458,0.429,0.887,2015,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144271,13986,Luis Urias,2022-04-29,674928,Biloxi Shuckers,Pensacola Blue Wahoos,0,4,0,0,0,0,3,0,0.158,0.273,0.211,0.484,2022,2.0
144272,13987,Luis Urias,2022-04-30,674927,Biloxi Shuckers,Pensacola Blue Wahoos,1,5,0,1,1,0,0,0,0.167,0.259,0.208,0.467,2022,1.0
144273,13988,Luis Urias,2022-05-01,674888,Biloxi Shuckers,Pensacola Blue Wahoos,0,3,0,0,0,0,0,0,0.148,0.258,0.185,0.443,2022,1.0
144274,13989,Kolten Wong,2022-06-25,671462,Wisconsin Timber Rattlers,Quad Cities River Bandits,0,4,0,1,0,0,0,0,0.000,0.000,0.000,0.000,2022,NaN
144275,13990,Kolten Wong,2022-06-26,671464,Wisconsin Timber Rattlers,Quad Cities River Bandits,1,2,1,1,1,0,1,1,0.167,0.286,0.667,0.953,2022,1.0

In [8]:
position_minors_stats.sort_values(by = "days_between_game", ascending = False)

,Unnamed: 0,name,gameDate,gameID,team,opponent,hits,atBats,homeRuns,runs,rbi,stolenBases,strikeOuts,walks,avg,obp,slg,ops,season,days_between_game
131355,1070,Alek Thomas,2022-09-26,702580,Reno Aces,Tacoma Rainiers,2,5,0,1,2,0,1,0,0.283,0.364,0.500,0.864,2022,143.0
72801,12296,Brandon Nimmo,2018-08-25,539958,St. Lucie Mets,Fort Myers Miracle,1,3,0,1,0,1,0,1,0.333,0.500,0.333,0.833,2018,135.0
45300,8346,Cody Bellinger,2017-08-29,512105,AZL Dodgers,AZL Brewers,1,3,1,1,4,0,1,0,0.333,0.250,1.333,1.583,2017,127.0
140576,10291,Nolan Gorman,2022-09-20,665494,Memphis Redbirds,Gwinnett Stripers,0,5,0,0,0,0,3,0,0.297,0.355,0.652,1.007,2022,125.0
87777,1252,Jordan Luplow,2019-08-27,575290,Columbus Clippers,Louisville Bats,0,2,0,0,0,0,1,0,0.333,0.455,0.583,1.038,2019,123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144260,13975,Omar Narvaez,2022-08-16,665772,Nashville Sounds,Jacksonville Jumbo Shrimp,2,4,0,0,0,0,0,0,0.500,0.500,0.500,1.000,2022,NaN
144262,13977,Jace Peterson,2022-08-23,671434,Wisconsin Timber Rattlers,Lansing Lugnuts,1,2,0,0,0,0,1,0,0.500,0.667,1.000,1.667,2022,NaN
144265,13980,Tyrone Taylor,2022-07-16,665430,Nashville Sounds,Memphis Redbirds,0,4,0,0,0,0,1,0,0.000,0.000,0.000,0.000,2022,NaN
144267,13982,Luis Urias,2022-04-23,674685,Biloxi Shuckers,Birmingham Barons,1,4,0,1,0,0,2,0,0.250,0.250,0.500,0.750,2022,NaN
144274,13989,Kolten Wong,2022-06-25,671462,Wisconsin Timber Rattlers,Quad Cities River Bandits,0,4,0,1,0,0,0,0,0.000,0.000,0.000,0.000,2022,NaN